[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
pep8 = "*"
flake8 = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
tox = "*"
pytest-env = "*"

[packages]
flask = "*"
gunicorn = "*"
gevent = "*"
gql = "*"
requests = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
